{% extends "base.html" %}


{% block navbar %}
<ul class="nav nav-pills ">
    <li class="nav-item"><a href="{{ url_for('junior_drivers') }}" class="nav-link">Junior drive list</a></li>
    <li class="nav-item"><a href="{{ url_for('driver_search') }}" class="nav-link">Driver Search</a></li>
    <li class="nav-item"><a href="{{ url_for('edit_run') }}" class="nav-link">Edit run</a></li>
    <li class="nav-item"><a href="{{ url_for('add_driver') }}" class="nav-link active">Add Driver</a></li>
</ul>
{% endblock %}

{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<h2>Junior Driver List</h2>
<hr>
<table  class="table table-striped">
    <tr>
        <th>Driver ID</th>
        <th>Driver Name</th>
        <th>Date of birth</th>
        <th>Age</th>
        <th>Care Giver</th>
    </tr>
    {% for driver in driver_list %}
          <tr {% if driver.4 != '-' %}class="table-warning"{% endif %}>
            <td>{{driver.0}}</td>
            <td> <a href="/driver/{{driver.0}}">{{driver.1}}</a> </td>
            <td>{{driver.2}}</td>
            <td>{{driver.3}}</td>
            <td>{{driver.4}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}