{% extends "base.html" %}
{% block navbar %}
<ul class="nav nav-pills ">
    <li class="nav-item"><a href="{{ url_for('listdrivers') }}" class="nav-link">Drivers</a></li>
    <li class="nav-item"><a href="{{ url_for('listcourses') }}" class="nav-link active">Courses</a></li>
    <li class="nav-item"><a href="{{ url_for('detail') }}" class="nav-link">Details</a></li>
    <li class="nav-item"><a href="{{ url_for('overall') }}" class="nav-link">Overall</a></li>
    <li class="nav-item"><a href="{{ url_for('showgraph') }}" class="nav-link">Top 5 Drivers</a></li>
    <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Admin</a></li> 
</ul>
{% endblock %}


{% block content %}
<h2>Course List</h2>
<h3>Current competition courses</h3>
<hr>
<div style="text-align: center">
    {% for course in course_list %}
    <div>
        <h2>Course {{course[0]}}: {{course[1]}}</h2>
        <img src="/static/{{course[2]}}">
    </div>
    {% endfor %}
</div>
<!-- code to display list of courses-->
{% endblock %}