{% extends "base.html" %}
{% block navbar %}
<ul class="nav nav-pills ">
    <li class="nav-item"><a href="{{ url_for('listdrivers') }}" class="nav-link">Drivers</a></li>
    <li class="nav-item"><a href="{{ url_for('listcourses') }}" class="nav-link">Courses</a></li>
    <li class="nav-item"><a href="{{ url_for('detail') }}" class="nav-link active">Details</a></li>
    <li class="nav-item"><a href="{{ url_for('overall') }}" class="nav-link">Overall</a></li>
    <li class="nav-item"><a href="{{ url_for('showgraph') }}" class="nav-link">Top 5 Drivers</a></li>
    <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Admin</a></li> 
</ul>
{% endblock %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->
<h2>Detail of the run</h2>
<hr>
<table class="table table-striped">
    <tr>
        <th>Driver ID</th>
        <th>Driver Name</th>
        <th>Course</th>
        <th>Car Model</th>
        <th>Drive Class</th>
        <th>Runnum</th>
        <th>Second</th>
        <th>Cones</th>
        <th>WD</th>
        <th>Run Total</th>
    </tr>
    {% for run in run_list %}
    <tr>
        <td>{{run.driver_id}}</td>
        <td>{{run.first_name}} {{run.surname}}</td>
        <td>{{run.name}}</td>
        <td>{{run.model}}</td>
        <td>{{run.drive_class}}</td>
        <td>{{run.run_num}}</td>
        <td>{{run.seconds}}</td>
        <td>{{run.cones}}</td>
        <td>{{run.wd}}</td>
        <td>{{run.run_total}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}