{% extends "base.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<h2>Driver List</h2>
<hr>
<table  class="table table-striped">
    <tr>
        <th>Driver ID</th>
        <th>Driver Name</th>
        <th>Date of birth</th>
        <th>Age</th>
        <th>Care Giver</th>
    </tr>
    {% for driver in driver_list %}
          <tr {% if driver.4 != '-' %}class="table-warning"{% endif %}>
            <td>{{driver.0}}</td>
            <td> <a href="/driver/{{driver.0}}">{{driver.1}}</a> </td>
            <td>{{driver.2}}</td>
            <td>{{driver.3}}</td>
            <td>{{driver.4}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}