{% extends "base.html" %}
{% block navbar %}
<ul class="nav nav-pills ">
    <li class="nav-item"><a href="{{ url_for('junior_drivers') }}" class="nav-link">Junior drive list</a></li>
    <li class="nav-item"><a href="{{ url_for('driver_search') }}" class="nav-link active">Driver Search</a></li>
    <li class="nav-item"><a href="{{ url_for('edit_run') }}" class="nav-link">Edit run</a></li>
    <li class="nav-item"><a href="{{ url_for('add_driver') }}" class="nav-link">Add Driver</a></li>
         <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->
<h2>Run List</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Driver ID</th>
            <th>Course ID</th>
            <th>Run Number</th>
            <th>Seconds</th>
            <th>Cones</th>
            <th>WD</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        {% for run in runs %}
        <tr>
            <td>{{run.dr_id}}</td>
            <td>{{run.crs_id}}</td>
            <td>{{run.run_num}}</td>
            <td>{{run.seconds}}</td>
            <td>{{run.cones}}</td>
            <td>{{run.wd}}</td>
            <td><a href="/run/{{run.dr_id}}_{{run.crs_id}}_{{run.run_num}}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}