{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="container mt-3">
            <h2>Login Administration</h2>
            {% if error %}
            <p class="text-danger"><strong>Error:</strong> {{ error }}
                {% endif %}
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="mb-3 mt-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter email" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}