
{% extends "base.html" %}

{% block navbar %}
<ul class="nav nav-pills ">
    <li class="nav-item"><a href="{{ url_for('listdrivers') }}" class="nav-link">Drivers</a></li>
    <li class="nav-item"><a href="{{ url_for('listcourses') }}" class="nav-link">Courses</a></li>
    <li class="nav-item"><a href="{{ url_for('detail') }}" class="nav-link">Details</a></li>
    <li class="nav-item"><a href="{{ url_for('overall') }}" class="nav-link">Overall</a></li>
    <li class="nav-item"><a href="{{ url_for('showgraph') }}" class="nav-link active">Top 5 Drivers</a></li>
    <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Admin</a></li> 
</ul>
{% endblock %}


{% block content %}
<h2>Top 5 Drivers</h2>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="myHBarPlot" style="width:100%; max-width:90%;"></div>
<script>
        // Note SPACE after each fruit name so gap before horizontal bars
        const nameList = {{ name_list | safe }};
        const valueList = {{ value_list | safe }};
        // Define graph data
        const data = [{ x: valueList,  y: nameList,  type:"bar", orientation:"h", marker: {color:"cornflower blue"} }];

        // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
        const layout = {  
            xaxis: {range: [0, 300], title: "Overall Score"}, 
            yaxis: {title:"Driver"},
            title: "Top 5 drivers overall"
        };

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);

    </script>
{% endblock %}

